@import "../colors.scss";

.quiz {
    height: 150px;
    width: 250px;
    background-color: $dark-red;
    color: white;
    text-align: center;
    display: inline-grid;
    margin: 25px;
    justify-items: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.555);
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 15px;
    }
}

.quiz:hover {
    cursor: pointer;
    background-color: $dark-red-hover;
}