@import "../colors.scss";

.quiz{
    z-index: 999;
    height: 150px;
    width: 250px;
    background-color: $dark-red;
    color: white;
    text-align: center;
    display: inline-grid;
    margin: 25px;
    justify-items: center;
    border-radius: 5px;
    box-shadow: -7.5px 5px $dark-red;
    border: 1px solid rgb(49, 0, 0);
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 15px;
    }
}

.quiz:hover {
    cursor: pointer;
    background-color: $dark-red-hover;
    box-shadow: -8px 5.5px $dark-red;
}

.back-card {
    height: 150px;
    width: 250px;
    background-color: $dark-red;
    z-index:1;
}

.edit {
    color:white;
    justify-self: right;
    font-size: 25px;
}

.dropdown {
    border-radius: 5px;
    border-top-right-radius: 0px;
    text-align: left;
    font-family: sans-serif;
    font-size: 20px;
    display: inline-block;
    width: 200px;
    position:absolute;
    height: 102px;
    margin-top: 20px;
    margin-left:55px;
    background-color: white;
    color: rgb(95, 95, 95);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    z-index: 1;
    span {
        font-size: 14px;
        color: black;
    }
    button {
        border:none;
        width:92%;
        margin-top: 4px;
        margin-bottom: 4px;
        padding: 10px;
    }
    button:hover {
        background-color:rgb(232, 238, 240);
    }
}

.edit-icon {
    font-size: 20px;
    border-radius:15px;
    padding:7.5px;
    margin-bottom: -10px;
}

.edit-icon:hover {
    cursor: pointer;
    background-color: rgba(161, 161, 161, 0.541);
}