@import "../colors.scss";

.quiz, .flashcard{
    height: 150px;
    width: 250px;
    background-color: $dark-red;
    color: white;
    text-align: center;
    display: inline-grid;
    margin: 25px;
    justify-items: center;
    border-radius: 5px;
    border: 1px solid rgb(49, 0, 0);
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 15px;
    }
}

.quiz {
    box-shadow: -7.5px 5px $dark-red;
}

.quiz:hover, .flashcard:hover {
    background-color: $dark-red-hover;
}

.quiz:hover {
    box-shadow: -8px 5.5px $dark-red;
}


.back-card {
    height: 150px;
    width: 250px;
    background-color: $dark-red;
    z-index:1;
}

.edit {
    z-index: 999d;
    color:white;
    justify-self: right;
    font-size: 25px;
}

.edit:hover {
    cursor: pointer;
}

.dropdown {
    border-radius: 5px;
    border-top-right-radius: 0px;
    text-align: left;
    font-family: sans-serif;
    font-size: 20px;
    display: inline-block;
    width: 200px;
    position:absolute;
    height: 102px;
    margin-top: 20px;
    margin-left:55px;
    background-color: white;
    color: rgb(95, 95, 95);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    z-index: 1;
    span {
        font-size: 14px;
        color: black;
    }
    button {
        border:none;
        width:92%;
        margin-top: 4px;
        margin-bottom: 4px;
        padding: 10px;
    }
    button:hover {
        background-color:rgb(232, 238, 240);
    }
}

.edit-icon {
    font-size: 20px;
    border-radius:15px;
    padding:7.5px;
    margin-bottom: -10px;
}

.edit-icon:hover {
    cursor: pointer;
    background-color: rgba(161, 161, 161, 0.541);
}

.quiz {
    .front {
        margin-top:-20px;
    }
    .back {
        display:none;
    }
}
.quiz:hover {
    .front {
        display:none;
    }
    .back {
        margin-top:-20px;
        display:block;
    }
    .back:hover {
        cursor: pointer;
    }
}

.quiz-card-container {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.123);
    margin-left: auto;
    margin-right: auto;
    margin-top: min(50px);
    margin-bottom: min(75px);
    background-color: white;
    width:75%;
    padding-bottom: calc(10vw);
    border-radius: 20px;
    h1, h3{
        padding-top:10px;
        color: $dark-blue;
        font-weight:bold;
        text-align: center;
    }
    h1 {
        font-size:20px;
    }
    text-align: center;
    .front, .back {
        width: 75%;
        height: calc(35vw);
        object-fit: cover;
        // max-height: 300px;
        background-color: $dark-red;
        color: white;
        display: inline-grid;
        margin: 25px;
        justify-items: center;
        border-radius: 5px;
        border: 1px solid rgb(49, 0, 0);
        align-items: center;
        h2 {
            font-size: 3vw;
        }
        h4 {
            font-size: 2vw;
        }
    }
    .front {
        h4 {
            display:none;
        }
    }
    .back {
        h2 {
            display:none;
        }
    }
    .flip {
        font-size: 20px;
        
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .flip:hover {
        cursor: pointer;
    }
    .front-icon>*:last-child {
        display:none;
    }
    .back-icon>*:first-child {
        display:none;
    }
}