@import "../colors.scss";

.nav {
    position:sticky;
    background-color: $dark-blue;
    color:rgb(255, 255, 255);
    height: 50px;
    h1 {
        font-size: 25px;
        margin-left:20px;
        padding-top:10px;
    };
    h1:hover {
        cursor: pointer;
    }
}

.links {
    display: flex;
    justify-content: flex-end;
    
    margin-top: -26px;
    font-size: 20px;
    button {
        margin:0px 20px 20px 20px;
        border: none;
        border-bottom: 1.5px solid rgba(192, 192, 192, 0);
        padding-bottom: 2px;
        transition: border 500ms ease; 
    }
  
    button:hover {
        border-bottom: 1.5px solid rgb(255, 255, 255);
    }
}