.flashcard {
    .front {
        margin-top:-20px;
    }
    .back {
        display:none;
        font-size:13px;
    }
    .edit-input {
        margin-left:-45px;
    }
}
.flashcard:hover {
    .front {
        display:none;
    }
    .back {
        margin-top:-20px;
        display:block;
    }
}